
*{
    box-sizing: border-box;
    font-family: "MontReal";
}
@font-face {
    font-family: "MontReal";
    src: url(../font/NeueMontreal-Regular.otf);
  }
:root{
    --black--:black; 
    --white--:#fff; 
    --red--:red; 
    --sky--:#96c2ff;
    --navyblue--:#02021d;
    --blue--:#040c2e;
    --bgblue--:#0f1a3e;
}
.fs-7{
   font-size:  13px;
}
.fs-8{
   font-size:  12px;
}
.fs-9{
   font-size:  10px;
}
.fw-200{
    font-weight: 200 !important;
}
.fw-300{
    font-weight: 400 !important;
}
.fw-400{
    font-weight: 200 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 700 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}
.fs-0{
    font-size: 60px;
}
.pointer{
    cursor: pointer;
    user-select: none;
}
.position-r{
    position: relative;
}
.a-color{
    color: var(--navyblue--);
}
.a-color1{
    color: var(--sky--);
    font-style: italic;
}
.a-color2{
    color: var(--sky--);
}
.btn-global{
    padding: 8px 15px; 
    background-color: var(--sky--);
    border: 2px solid var(--sky--);
    transition: .3s ease-in-out;
}
.btn-global:hover{
    background-color: white;
    border: 2px solid var(--sky--);
}

.banner-img{
    background-image: url(../images/bg-img.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
}
/* .banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.col-div{
    height: 90vh;
}
.heading-1{
    font-size: 60px;
    font-weight: 400;
}
.heading1{
    font-size: 60px;
    color: var(--navyblue--);
}
.line-div{
    width: 100%;
    height: 2px;
    background-color: white;
}

.second-sec{
    height: 400px;  
}
.third-sec{
    background-color: var(--navyblue--);
    padding-bottom: 70px;
}
.services-card{
    background-color: transparent !important;
}
.card-hover:hover{
    background-color: var(--sky--);
    color: var(--navyblue--);
    transition: .3s ease-in-out;
}
.services-card > .services-card-img > img{
    width: 35px;
}

.fourth-sec{
    background-color: var(--blue--);
    padding-top: 70px;
    padding-bottom: 270px;
}
.arrow-img{
    width: 100px;
    /* filter: invert(1); */
    
}
.pod-h1{
    font-size: 120px;
}
.sub-div{
    background-color: var(--bgblue--);
    padding: 30px 0px 0px 50px;
}
.circle-span{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--sky--);
}
.bottom-card{
    position: relative;
    margin-top: -200px;
}

.bottomh1{
    font-size: 100px;
}
.slider-div{
    position: relative;
    top: -200px;
}
.single-item{
    height: 330px;
    width: 100%;
}


@media (max-width:991px) {
    .pod-h1{
        font-size: 50px;
        text-align: center;
    }
    .sub-div{
        padding: 30px 0px 0px 20px;
    }
    .bottomh1{
        font-size: 50px;
    }
    .bottom-card{
        position: relative;
        margin-top: 0;
    }
    .fourth-sec{
        background-color: var(--blue--);
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .second-sec{
        height: 300px;  
    }
}